# Fill in your tokens, rename this file "config.toml", move to "$HOME/.config/peekabow"

[token]
github = "<generated token from https://github.com/settings/tokens/new>"
zenhub = "<generaeted token from https://dashboard.zenhub.io/#/settings>"
